{% extends "layout.html" %}
{% block content %}
<div class="row">
   <div class="card offset-md-4 col-md-4">
      <article class="card-body">
         {% with messages = get_flashed_messages() %}
         {% if messages %}
             <div class="notification is-danger">
                 {{ messages[0] }}
             </div>
         {% endif %}
         {% endwith %}
         <h4 class="card-title text-center mb-4 mt-1">Войти</h4>
         <hr>
         <form method="POST" action="/login">
            <div class="form-group">
               <div class="input-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                  </div>
                  <input name="login" class="form-control" placeholder="Логин" type="text">
               </div>
               <!-- input-group.// -->
            </div>
            <!-- form-group// -->
            <div class="form-group">
               <div class="input-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input name="password" class="form-control" placeholder="Пароль" type="password">
               </div>
               <!-- input-group.// -->
            </div>
            <!-- form-group// -->
            <div class="form-group">
               <button type="submit" class="btn btn-primary btn-block"> Войти  </button>
            </div>
            <!-- form-group// -->
         </form>
      </article>
   </div>
</div>
{% endblock %}